.topnav-right {
  float: right;
}

.vl {
  border-left: 1px solid gray;
  height: 80px;
}

@media only screen and (max-width: 768px) {
  .topnav-right {
    float: none;
  }
  .vl {
    display: none;
  }
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
  padding: 10px;
}
.full-text {
  display: none;
}

.timer-text {
  font-size: large;
}

.posts-list {
  padding: 120px;
}
